/* base.html */

/* the following is the CSS for the Range Slider for Room Review */
.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 60px;
  padding: 30px;
  padding-left: 40px;
  background: #fcfcfc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 15px 40px #7E6D5766;
}

.slider p {
  font-size: 26px;
  font-weight: 600;
  font-family: 'Open Sans';
  padding-left: 30px;
  color: black;
}

.slider input[type="range"] {
  -webkit-appearance: none !important;
  width: 420px;
  height: 2px;
  background: black;
  border: none;
  outline: none;
}

.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 30px;
  height: 30px;
  background: black;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.slider input[type="range"]::-webkit-slider-thumb:hover {
  background: black;
}

/* the following CSS is for landing.html */
#residential-halls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.hall {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.hall img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* .base-html {
  background-color: #ffffff;
.overlap-group .text-wrapper {
  position: fixed;
  height: 94px;
  width: 296px;
  top: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #0e2c88;
  font-size: 120px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
} */

.overlap-group .description {
  position: fixed;
  width: 372px;
  height: 22px;
  top: 120px;
  left: 331px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #1c1c1c;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.base-html .rectangle {
  position: fixed;
  width: 1350px;
  height: 79px;
  top: 149px;
  left: 81px;
  background-color: #0f2c88;
}

.rectangle .frame-wrapper{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1350px;
  height: 79px;
  top: 149px;
  left: 81px;
}

.rectangle .frame {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  background-color: #eaeaef;
  border: 1px solid;
  border-color: #eaeaef;
}


.frame .text-wrapper {
  position: relative;
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.rectangle .primary-button {
  display: flex;
  width: 229px;
  height: 55px;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
  position: relative;
  background-color: #d9b600;
  border-radius: 5px;
  overflow: hidden;
}

.primary-button .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.search-with-results {
  display: flex;
  width: 310px;
  height: 55px;
  align-items: center;
  gap: 8px;
  padding: 5px 16px;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid;
  border-color: #5470ff;
}

.search-with-results .magnifier {
  position: relative;
  width: 24px;
  height: 24px;
}

.search-with-results .text-wrapper {
  position: relative;
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #00000054;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
}

.search-with-results .blackx{
  position: relative;
  width: 9.71px;
  height: 9.71px;
  margin-right: -0.35px;
}

.filter-frame {
  position: relative;
  width: 599px;
  height: 333px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid;
  border-color: #d9d9d9;
}

.filter-frame .text-wrapper{
  top: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  left: 16px;
}

.filter-frame .filters {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  top: 43px;
  position: absolute;
  left: 16px;
}

.filter-frame .default {
  background-color: #000000;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 16px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 100px;
  overflow: hidden;
}

.filter-frame .div{
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.filter-frame .whitex {
  position: relative;
  width: 9.71px;
  height: 9.71px;
  margin-right: -0.35px;
}

.filter-frame .div-wrapper {
  background-color: #eaeaef;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 16px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 100px;
  overflow: hidden;
}

.filter-frame .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.filter-frame .text-wrapper-3 {
  position: absolute;
  top: 96px;
  left: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.filter-frame .user{
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 125px;
  left: 16px;
}

.filter-frame .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22.5px;
  white-space: nowrap;
}

.filter-frame .button {
  display: flex;
  width: 570px;
  height: 40px;
  align-items: center;
  justify-self: center;
  padding: 0px 16px;
  position: absolute;
  top: 277px;
  left: 16px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
  all: unset;
  box-sizing: border-box;
}

.filter-frame .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}


/* login.html */

.login-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login-page .group-wrapper {
  background-color: #ffffff;
  width: 1512px;
  height: 982px;
}

.login-page .group {
  position: relative;
  width: 1091px;
  height: 542px;
  top: 220px;
  left: 259px;
}

.login-page .rectangle {
  position: absolute;
  width: 526px;
  height: 542px;
  top: 0;
  left: 565px;
  object-fit: cover;
}

.login-page .div {
  position: absolute;
  width: 376px;
  height: 117px;
  top: 81px;
  left: 6px;
}

.login-page .text-wrapper {
  position: absolute;
  width: 245px;
  top: 0;
  left: 63px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #0e2c88;
  font-size: 120px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.login-page .p {
  position: absolute;
  width: 372px;
  top: 95px;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #1c1c1c;
  font-size: 14px;
  letter-spacing: normal;
}

.login-page .text-wrapper-3 {
  position: absolute;
  width: 65px;
  top: 18px;
  left: 51px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #1c1c1c;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.login-page .div-wrapper {
  position: absolute;
  width: 386px;
  height: 55px;
  top: 404px;
  left: 0;
}

.login-page .overlap {
  background-color: #0f2c88;
  position: relative;
  width: 384px;
  height: 55px;
  border-radius: 13px;
}

.login-page .text-wrapper-4 {
  position: absolute;
  width: 39px;
  top: 18px;
  left: 175px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.username-container {
  background-color: #f2f2f2;
  position: absolute;
  width: 386px;
  top: 244px;
  height: 55px;
  border-radius: 13px;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: text;
}

.username-input {
  flex: 1;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  color: #333;
}

.username-placeholder {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #aaa;
  transition: 0.3s;
}

.username-container.active .username-placeholder {
  top: 10px;
  font-size: 12px;
  color: #333;
}

.password-container {
  background-color: #f2f2f2;
  position: relative;
  width: 384px;
  top: 324px;
  height: 55px;
  border-radius: 13px;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: text;
}

.password-input {
  flex: 1;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  color: #333;
}

.password-placeholder {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #aaa;
  transition: 0.3s;
}

.password-container.active .password-placeholder {
  top: 10px;
  font-size: 12px;
  color: #333;
}
