{% extends "base.html" %}
{% block title %} About WENDI {% endblock %}


{% block main_content %}
<div class="about-wendi">
    <section>
        <h3>About WENDI</h3>
        <p>
            WENDI, the Wellesley Evaluation Network for Dorm Information, is a 
            collaborative web tool aimed atdemystifying the dorm selection process 
            at Wellesley. Created in response to the annual chaos of room 
            assignments, WENDI offers a streamlined and informative experience 
            for students navigating their housing options.
        </p>
    </section>

    <section>
        <h3>Our Mission</h3>
        <p>
            The mission of WENDI is to simplify the housing selection journey 
            for Wellesley students. By providing access to real-world data and 
            peer reviews, WENDI ensures that no student feels left in the dark 
            when choosing a dorm room. Whether you're looking for insights on 
            various rooms or eager to share your own experiences, WENDI serves 
            as your go-to platform.
        </p>
    </section>

    <section>
        <h3>The Team</h3>
        <p>
            In 2023 Fall, WENDI was brought to life by a dedicated team of 
            students who experienced first-hand the challenges of dorm selection. 
            The team includes Annabel Yao, Emma Lim, Hae Rin Hong, and Veronica 
            Lin.
        </p>
    </section>

    <footer>
        <p>&copy; WENDI - All rights reserved.</p>
    </footer>
</div>
{% endblock %}