<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Annabel Yao, Emma Lim, Hae Rin Hong, Veronica Lin">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>{% block title%} {% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body class="base">
  <div class="base-element">
    <div class="top-header">
      <div class="header-logo">
        <div class="logo">WENDI</div>
        <p class="sitename">Wellesley Evaluation Network for Dorm Information</p>
      </div>
  
      {% if session.logged_in %}
      <form method="post" action="{{ url_for('logout') }}" class="logout-form">
        <button type="submit" class="logout-button">LOG OUT</button>
      </form>
      {% else %}
      <!-- Content for users who are not logged in -->
      <p>You are not logged in. Please <a href="{{ url_for('join') }}">join</a> or <a href="{{ url_for('login') }}">log
          in.</a></p>
      {% endif %}
    </div>

    <div class="nav-bar">
      <div class="nav-tabs">
        <div class="regular-button">
          <a href="{{ url_for('landing',complex='all-halls') }}">Browse All</a>
        </div>
        <div class="regular-button">
          <div class="button-text">My Home</div>
        </div>
        <div class="regular-button">
          <div class="button-text">About WENDI</div>
        </div>
        <div class="primary-button">
          <a href="{{ url_for('review') }}" class="button-text">SUBMIT A REVIEW!</a>
        </div>
        <div class="search-bar">
          <img id="searchIcon" class="magnifier" src="{{ url_for('static', filename='media/base/magnifier.png') }}">
          <div id="searchContainer" class="search-bar-container">
            <input class="search-input" type="text" name="search" id="searchInput" placeholder="Search here..."
              required>
          </div>
          <img id="blackxButton" class="blackx" src="{{ url_for('static', filename='media/base/blackx.png') }}">
        </div>
      </div>
      <div class="filter-and-results" id="filter-and-results">
        <div class="filter-header">Filters</div>
        <div class="filters-collection">
          <div class="filter">
            <div class="filter-text">Room</div>
            <img class="whitex" src="{{ url_for('static', filename='media/base/whitex.png') }}">
          </div>
          <div class="filter">
            <div class="filter-text">Hall</div>
          </div>
          <div class="filter">
            <div class="filter-text">User</div>
          </div>
        </div>
        <div class="result-header">Results</div>
        <div class="user" id="searchResults">
          <!-- Results are dynamically added here -->
        </div>
        <button class="button">
          <div class="button-text">All results</div>
        </button>
      </div>
    </div>
  </div>

  <div id="flashes">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="messages">
      {% for msg in messages %}
      <p>{{msg}}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  </div>

  {% block main_content %}
  {% endblock %}

  <script>
    /**
   * Function to toggle the visibility of the filter-and-results element based on user interactions.
   * @param {Event} event - The event object representing the user interaction.
   */
    function toggleFilterFrame(event) {
      var filterFrame = $("#filter-and-results");

      // Executed when the click occurs outside the specified elements
      if (
        !$("#searchInput").is(event.target) && // search input
        !$("#filter-and-results").is(event.target) && // filter frame
        !$("#searchResults a").is(event.target) // result link
      )
      // If the click occurred outside the specified elements, hide the filter-and-results frame
      {
        // Clear search input value when hiding filter frame
        $("#searchInput").val("");

        // Restore placeholder text when no input
        if ($("#searchInput").val().trim() === "") {
          $("#searchInput").attr("placeholder", "Search here...");
        }

        filterFrame.hide();
      } else {
        // If the click occurred inside the specified elements, show the filter-and-results frame
        filterFrame.show();
      }
    };

    $(document).ready(function () {
      // Hide filter-and-results by default
      $("#filter-and-results").hide();

      // Handle search bar container click event
      $("#searchContainer").mousedown(function (event) {
        // Prevent default behavior to avoid issues with focus
        event.preventDefault();
        toggleFilterFrame(event);
        // Focus on the search input after toggle
        $("#searchInput").focus();
      });

      // When the search input receives focus (when the user clicks inside it), 
      // it shows the filter-and-results element. 
      $("#searchInput").focus(function () {
        // Show the filter-and-results element
        $("#filter-and-results").show();
      });

      // Handle blackx button click event
      $("#blackxButton").click(function () {
        // Hide filter-and-results when blackx button is clicked
        $("#filter-and-results").hide();
        // Clear search input value
        $("#searchInput").val("");
        // Restore placeholder text
        $("#searchInput").attr("placeholder", "Search here...");
      });

      // Add document click event to handle clicking outside the search bar and results
      $(document).click(function (event) {
        // Checks if the target of the click is not the searchContainer and not a descendant of the searchContainer
        // Checks if the target is not the filter-and-results and not a descendant of the filter-and-results
        if (
          !$(event.target).closest("#searchContainer").length &&
          !$(event.target).closest("#filter-and-results").length
        ) {
          $("#filter-and-results").hide();
        }
      });

      // Handle input changes for search input
      $("#searchInput").on("input", function () {
        // Checks whether the value of the search input, after trimming whitespaces, is not empty. 
        if ($(this).val().trim() !== "") {
          // Simulate matching results
          var searchTerm = $(this).val().toLowerCase();
          var results = simulateMatchingResults(searchTerm);

          // Update the results in filter-and-results
          updateResults(results);
        }
      });

      // Handle search icon (magnifier icon) click event
      $("#searchIcon").click(function () {
        // Trigger search when the icon is clicked
        $("#searchInput").trigger("input");
      });

      /**
       * Function to simulate matching results by sending a POST request to the '/search' endpoint.
       * @param {string} searchTerm - The search term entered by the user.
       * @returns {Promise} A promise that resolves with the search results.
       */
      function simulateMatchingResults(searchTerm) {
        // sends a POST request to the '/search' endpoint
        return $.ajax({
          url: '/search',
          type: 'POST', // Specifies the HTTP method
          data: { search_term: searchTerm },
          dataType: 'json',  // Specify that the expected data type is JSON
          // callback function to be executed if the request is successful
          success: function (results) {
            // Handle the results returned from the server
            updateResults(results);
          },
          error: function (xhr, status, error) {
            console.error("Error:", error);
          }
        });
      }

      /**
       * Function to update the search results in the filter-and-results container.
       * @param {Object} results - The search results object containing combined and individual results.
       */
      function updateResults(results) {
        var resultsContainer = $("#searchResults");
        // Clears any previous content inside the searchResults container
        resultsContainer.empty();

        // checks if both combined and individual results exist in the results object.
        if (results.combined && results.individual) {
          // Display combined results first if it exists
          if (results.combined.length > 0) {
            results.combined.forEach(result => {
              var link = `<a href='/dorm/${result[0]}/room/${result[1]}'>${result[0]} - ${result[1]}</a>`;
              // text() function to ensure that any potentially harmful HTML characters are properly escaped.
              var linkElement = $(link).text(`${result[0]} - ${result[1]}`);
              // Add an id to the dynamically created div
              var divId = `result-${result[0]}-${result[1]}`;
              resultsContainer.append(`<div id="${divId}"></div>`).find(`#${divId}`).append(linkElement);
            });
          }

          // Display individual results next if it exists
          if (results.individual.length > 0) {
            results.individual.forEach(result => {
              var link = `<a href='/dorm/${result[0]}/room/${result[1]}'>${result[0]} - ${result[1]}</a>`;
              // text() function to ensure that any potentially harmful HTML characters are properly escaped.
              var linkElement = $(link).text(`${result[0]} - ${result[1]}`);
              // Add an id to the dynamically created div
              var divId = `result-${result[0]}-${result[1]}`;
              resultsContainer.append(`<div id="${divId}"></div>`).find(`#${divId}`).append(linkElement);
            });
          }
        } else {
          // If both are empty
          resultsContainer.append(`<div id="${divId}">No results found.</div>`);
        }
      }
    });
  </script>

</body>

</html>