
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name=author content="Annabel Yao, Emma Lim, Hae Rin Hong, Veronica Lin">
    <meta name=description content="">
    <meta name=keywords content="">    
    <title>Home</title>
    <link rel="stylesheet" type="text/css"
          href="/static/styling.css">
  </head>
  <body>
      <!-- database is  -->
    <div id="navigation">
      <ul>
        <li><a href="/">WENDI</a>
        <li><a href="/browse_all/">Browse All</a>
        <li><a href="/myhome/">My Home</a>
        <li><a href="/dorm/">DORM PAGE</a>
      </ul>
    </div>
    <div id="content">
      {% block main_content %}
      {% endblock %}

    </div>

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    
    <!-- JS code would go here -->
    
  </body>
</html>