{% extends "base.html" %}

{% block main_content %}
<h1>DORM NAME HERE</h1>

<p>this is the dorm page, which displays a list of all the rooms in the specified dorm. the page will display different info 
    based on which dorm the user is looking at. clicking on the rooms will redirect to the room page, which displays all the reviews
    that have made for that room.
</p>

<p>select number from room where hid = [hall id] //get all the room numbers that are in the hall
    that have a review made (?? or display every room and if there's no review made for it, then room page has message saying
    there's no review for it yet)
</p>

<a href="/room/">sample room page</a>

<h3>Rooms with reviews:</h3>
{% for room in dorm %}
<div class="{{dormname}}" id="{{room.number}}" style="border:solid 2px black; margin-bottom:15px;">
    <b>Room: {{room.number}}</b>
</div>
{% endfor %}

<h3>Rooms without reviews:</h3>
{% for room in dorm %}
<div class="{{dormname}}" id="{{room.number}}" style="border:solid 2px black; margin-bottom:15px;">
    <b>Room: {{room.number}}</b>
</div>
{% endfor %}


{% endblock %}