<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>WENDI Create My Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="join">
    <div class="join-page">
        <h1>Need an account to join WENDI? <br> Please register &#128150;</h1>

        <!-- Display flashed messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash_msg">
            {% for m in messages %}
            <div class="alert">{{ m }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <div class="account-form">
            <form method="POST" action="{{ url_for('join') }}">
                <!-- Username Input -->
                <div id="usernamejoinContainer" class="usernamejoin-container">
                    <input class="frame usernamejoin-input" type="text" name="usernamejoin" id="usernamejoinInput"
                        required>
                        <div class="usernamejoin-placeholder">Username</div>

                </div>

                <!-- Email Input -->
                <div id="emailContainer" class="email-container">
                    <input class="frame email-input" type="email" name="email" id="emailInput" required>
                    <div class="email-placeholder">Email</div>
                </div>

                <!-- Class Year Input -->
                <div id="classYearContainer" class="classyear-container">
                    <input class="frame classyear-input" type="text" name="classYear" id="classYearInput" required>
                    <div class="classyear-placeholder">Class Year</div>
                </div>

                <!-- Password Input -->
                <div id="password1Container" class="password1-container">
                    <input class="frame password1-input" type="password" name="password1" id="password1Input" required>
                    <div class="password1-placeholder">Password</div>
                </div>

                <!-- Confirm Password Input -->
                <div id="password2Container" class="password2-container">
                    <input class="frame password2-input" type="password" name="password2" id="password2Input" required>
                    <div class="password2-placeholder">Confirm Password</div>
                </div>

                <!-- Submit Button -->
                    <button type="submit" class="overlap">
                        <div class="text">Create Account</div>
                    </button>
            </form>
        </div>
        <!-- Back to login link -->
        <div class="back-to-login">
            <a href="{{ url_for('index') }}">
                <div class="text">BACK TO LOGIN</div>
            </a>
        </div>
    </div>
</body>

</html>