{% extends "base.html" %}

{% block main_content %}

<h1>Browse All</h1>
<p>this is the landing page.</p>

<!-- <h1>{{ complex }}</h1> -->

<form method="POST" action="{{ url_for('landing',complex=complex)}}">
    <label for="hall-type">Hall Type: </label>
    <select id="hall-type" name="hall-type" required>
        <option value="All Halls">All Halls</option>
        <option value="Tower Complex">Tower Complex</option>
        <option value="East Side Halls">East Side Halls</option>
        <option value="West Side Halls">West Side Halls</option>
        <option value="The Quint">The Quint</option>
        <option value="Stone-Davis and Small Halls">Stone-Davis and Small Halls</option>
    </select>
    <p><input type='submit' value='Submit'></p>
</form>

<!-- <h3>Displaying {{ hallType }}</h3> 
<div class="{{ hallType }}">
    {% for hall in halls %}
    <div id="{{ hall.name }}" style="border:solid 2px black; margin-bottom:15px;">
        <p><a href="{{ url_for('landing', complex=hallType) }}">{{ hall.name }}</a></p>
    </div>
    {% endfor %} 
</div> -->

{% endblock %}
