<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>WENDI Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function showUsername() {
            var usernameContainer = document.getElementById('usernameContainer');
            var usernameInput = document.getElementById('usernameInput');
            usernameContainer.classList.add('active');
            usernameInput.focus();
        }

        function showPassword() {
            var passwordContainer = document.getElementById('passwordContainer');
            var passwordInput = document.getElementById('passwordInput');
            passwordContainer.classList.add('active');
            passwordInput.type = 'text';
            passwordInput.focus();
        }
    </script>
</head>

<body id="login">
    <div class="login-page">
        <img class="logo-image" src="{{ url_for('static', filename='media/login/wellesleylogo.png') }}">
        <div>
            <div id="WENDI-text">WENDI</div>
            <div id="WENDI-fullname">Wellesley Evaluation Network for Dorm Information</p>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash_msg">
            {% for m in messages %}
            <div class="alert">{{ m }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <form action="{{ url_for('login') }}" method="post">
            <div class="field-container">
                <div id="usernameContainer" class="username-container" onclick="showUsername()">
                    <input class="username-input" type="text" name="username" id="usernameInput" required>
                    <div class="username-placeholder">Username</div>
                </div>
                <div id="passwordContainer" class="password-container" onclick="showPassword()">
                    <input class="password-input" type="password" name="password" id="passwordInput" required>
                    <div class="password-placeholder">Password</div>
                </div>
            </div>
            <div class="login-buttons">
                <button type="submit" class="overlap">
                    <div class="text">LOGIN</div>
                </button>
                <a href="{{ url_for('join') }}" class="join-link">Create an Account</a>
            </div>
        </form>
    </div>
</body>

</html>