<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function showUsername() {
            var usernameContainer = document.getElementById('usernameContainer');
            var usernameInput = document.getElementById('usernameInput');
            usernameContainer.classList.add('active');
            usernameInput.focus();
}

        function showPassword() {
            var passwordContainer = document.getElementById('passwordContainer');
            var passwordInput = document.getElementById('passwordInput');
            passwordContainer.classList.add('active');
            passwordInput.type = 'text';
            passwordInput.focus();
        }
    </script>
</head>
<body>
    <div class="login-page">
        <div class="group-wrapper">
            <div class="group">
                <img class="rectangle" src="{{ url_for('static', filename='media/login/wellesleylogo.png') }}">
                <div class="div">
                    <div class="text-wrapper">WENDI</div>
                    <p class="p">Wellesley Evaluation Network for Dorm Information</p>
                </div>
                <form action="/login" method="post">
                    <div id="usernameContainer" class="username-container" onclick="showUsername()">
                        <input class="frame username-input" type="text" name="username" id="usernameInput" required>
                        <div class="username-placeholder">Username</div>
                    </div>                    
                    <div id="passwordContainer" class="password-container" onclick="showPassword()">
                        <input class="frame password-input" type="password" name="password" id="passwordInput" required>
                        <div class="password-placeholder">Password</div>	
                    </div>
                    <div class="div-wrapper">
                        <button type="submit" class="overlap"><div class="text-wrapper-4">LOGIN</div></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
