<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/styling.css">
    </head>
    <body>
        <div class="login-page">
            <div class="group-wrapper">
                <div class="group">
                    <img class="rectangle" src="img/rectanlge.png"/>
                    <div class="div">
                        <div class="text-wrapper">WENDI</div>
                        <p class="p">Wellesley Evaluation Network for Dorm Information</p>
                    </div>
                    <div class="overlap-group-wrapper">
                        <div class="overlap-group">
                            <div class="text-wrapper-2">Password</div>
                            <img class="frame" src="img/image.svg"/>
                        </div>
                    <div class="overlap-group-wrapper">
                        <div class="overlap-group">
                            <div class="text-wrapper-3">Username</div>
                            <img class="frame" src="img/frame.svg">
                        </div>
                    </div>
                    <div class="div-wrapper">
                        <div class="overlap"><div class="text-wrapper-4">LOGIN</div></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>