{% extends "base.html" %}

{% block main_content %}
<h1>{{dormname}} {{number}}</h1>


    {% if reviews %}
    {% for one in reviews %}
    <div id="{{one.id}}" style="border:solid 2px black; margin-bottom:15px;">
        
        <div id="content">
            <b>Room: {{one.rid}}</b>
            <p>{{one.comment}}</p> 
        </div>

        <!-- <div class="comments" id="{{dict.rid}}">
            {% for one in commentList %}
            <p>commenter name</p>
            <p>comment content here</p>
    
            {% endfor %}
        </div> -->
    </div>
    {% endfor %}

    {% else %}

    <p>Sorry! No reviews have been made for this room yet.</p>

    {% endif %}

    

{% endblock %}