{% extends "base.html" %}

{% block main_content %}
<h1>{{dormname}} - {{number}}</h1>

  {% if reviews %}
    {% for one in reviews %}
    <div id="{{one.id}}">
        
        <div id="room-content">
            <p>Review for {{dormname}} - {{one.rid}} ({{one.description}}) posted on {{one.timePosted}}</p>
            <p><b>Comment: </b>{{one.comment}}</p>

            <p><b>Start Date: </b>{{one.startTime}}</p> 
            <p><b>Length of Stay: </b>{{one.lengthOfStay}}</p>
            <p><b>Overall Rating: </b>{{one.rating}}</p>  
            <ul>
                <li><b>Size: </b>{{one.sizeScore}}</li>
                <li><b>Vent: </b>{{one.ventScore}}</li>
                <li><b>Clean: </b>{{one.cleanScore}}</li>
                <li><b>Bathroom: </b>{{one.bathroomScore}}</li>
                <li><b>Accessibility: </b>{{one.accessibilityScore}}</li>
                <li><b>Sunlight: </b>{{one.sunlightScore}}</li>
                <li><b>Bug: </b>{{one.bugScore}}</li>
                <li><b>Window: </b>{{one.windowScore}}</li>
                <li><b>Noise: </b>{{one.noiseScore}}</li>
            </ul>
        </div>

        <div class="comment-section">
          {% for each in allComments %}
          <div class="comment-div" id="{each.id}">

            <p class="comment-header">Comment by {{each.uid}} posted on {{each.timePosted}}</p>
            <p class="comment-content">{{each.content}}</p>
            
          </div>
          {% endfor %}
        </div>


        <div class="comments" id="{{dict.rid}}">
            <form method="POST" action="{{ url_for('room', hid=dormname, number=number) }}">
                <tr>
                    <td>
                      <p>
                        <label for="comments">Write a comment:</label>
                      </p>
                    </td>
                    <td>
                      <p>
                        <textarea id="comments" name="comments" rows="4" cols="50"></textarea>
                        <input type="submit" value="Submit">
                      </p>
                    </td>
                  </tr>
            </form>
        </div>

        

    </div>
    {% endfor %}

  {% else %}

    <p>Sorry! No reviews have been made for this room yet.</p>

  {% endif %}

    

{% endblock %}